*.class
IDAACS Paper/IDAACS_Example.aux
IDAACS Paper/IDAACS_Example.log
IDAACS Paper/IDAACS_Example.pdf
IDAACS Paper/IDAACS_Example.synctex.gz
*.o
IDAACS Paper/IDAACS_Example.bbl
IDAACS Paper/IDAACS_Example.blg
*.log
*.aux
*.gz
*.lof
*.out
abschlussarbeit.pdf
*.toc
*.lot
*.lol
