<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_8gZ1IHijEeWZwJHwnWs1MA" specification="interface:&#xD;&#xA;in event button_1&#xD;&#xA;var speed: integer&#xD;&#xA;var control: integer&#xD;&#xA;var distance: integer&#xD;&#xA;" name="RC-CAR">
    <regions xmi:id="_8gZ1I3ijEeWZwJHwnWs1MA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_8gi_FnijEeWZwJHwnWs1MA">
        <outgoingTransitions xmi:id="_8gi_MHijEeWZwJHwnWs1MA" target="_8gi_IXijEeWZwJHwnWs1MA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8gi_IXijEeWZwJHwnWs1MA" name="Idle" incomingTransitions="_8gi_MHijEeWZwJHwnWs1MA _gjFTUHnPEeWZwJHwnWs1MA">
        <outgoingTransitions xmi:id="_f5ZdIHnPEeWZwJHwnWs1MA" specification="button_1&#xD;&#xA;" target="_6G1P0HnOEeWZwJHwnWs1MA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6G1P0HnOEeWZwJHwnWs1MA" name="Abstand halten" incomingTransitions="_f5ZdIHnPEeWZwJHwnWs1MA">
        <outgoingTransitions xmi:id="_gjFTUHnPEeWZwJHwnWs1MA" specification="button_1" target="_8gi_IXijEeWZwJHwnWs1MA"/>
        <regions xmi:id="_6G1P0nnOEeWZwJHwnWs1MA" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_-G4k4HnOEeWZwJHwnWs1MA">
            <outgoingTransitions xmi:id="_FwKDYHnPEeWZwJHwnWs1MA" specification="/ distance = 30" target="_Da-UsHnPEeWZwJHwnWs1MA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__OnB8HnOEeWZwJHwnWs1MA" specification="entry/ &#xD;&#xA;speed=140000" name="vor" incomingTransitions="_3Kr1gHnTEeWZwJHwnWs1MA">
            <outgoingTransitions xmi:id="_63mMIHnTEeWZwJHwnWs1MA" specification="[distance &lt;40]" target="_Da-UsHnPEeWZwJHwnWs1MA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__5bgkHnOEeWZwJHwnWs1MA" specification="entry/ &#xD;&#xA;speed=160000" name="zurueck" incomingTransitions="_WjoOUHnUEeWZwJHwnWs1MA">
            <outgoingTransitions xmi:id="_MwKwMHnUEeWZwJHwnWs1MA" specification="[distance > 30]" target="_Da-UsHnPEeWZwJHwnWs1MA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Da-UsHnPEeWZwJHwnWs1MA" specification="entry/ &#xD;&#xA;speed=150000" name="stehen" incomingTransitions="_FwKDYHnPEeWZwJHwnWs1MA _63mMIHnTEeWZwJHwnWs1MA _MwKwMHnUEeWZwJHwnWs1MA">
            <outgoingTransitions xmi:id="_3Kr1gHnTEeWZwJHwnWs1MA" specification="[distance > 40]" target="__OnB8HnOEeWZwJHwnWs1MA"/>
            <outgoingTransitions xmi:id="_WjoOUHnUEeWZwJHwnWs1MA" specification="[distance &lt;20]" target="__5bgkHnOEeWZwJHwnWs1MA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_8gZ1IXijEeWZwJHwnWs1MA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_8gZ1IHijEeWZwJHwnWs1MA" measurementUnit="Pixel">
    <children xmi:id="_8gZ1JHijEeWZwJHwnWs1MA" type="Region" element="_8gZ1I3ijEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8gi_EHijEeWZwJHwnWs1MA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_EXijEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8gi_EnijEeWZwJHwnWs1MA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8gi_E3ijEeWZwJHwnWs1MA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_8gi_F3ijEeWZwJHwnWs1MA" type="Entry" element="_8gi_FnijEeWZwJHwnWs1MA">
          <children xmi:id="_8gi_GnijEeWZwJHwnWs1MA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_8gi_HXijEeWZwJHwnWs1MA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_HnijEeWZwJHwnWs1MA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_8gi_H3ijEeWZwJHwnWs1MA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_G3ijEeWZwJHwnWs1MA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_HHijEeWZwJHwnWs1MA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_GHijEeWZwJHwnWs1MA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_IHijEeWZwJHwnWs1MA" x="1" y="154" width="15" height="15"/>
        </children>
        <children xmi:id="_8gi_I3ijEeWZwJHwnWs1MA" type="State" element="_8gi_IXijEeWZwJHwnWs1MA">
          <children xsi:type="notation:DecorationNode" xmi:id="_8gi_J3ijEeWZwJHwnWs1MA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_KHijEeWZwJHwnWs1MA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8gi_KXijEeWZwJHwnWs1MA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8gi_KnijEeWZwJHwnWs1MA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8gi_K3ijEeWZwJHwnWs1MA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_LHijEeWZwJHwnWs1MA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8gi_LXijEeWZwJHwnWs1MA" type="StateFigureCompartment" collapsed="true"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_JHijEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8gi_JXijEeWZwJHwnWs1MA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8gi_LnijEeWZwJHwnWs1MA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_L3ijEeWZwJHwnWs1MA" x="55" y="106" width="92" height="105"/>
        </children>
        <children xmi:id="_6G1P03nOEeWZwJHwnWs1MA" type="State" element="_6G1P0HnOEeWZwJHwnWs1MA">
          <children xsi:type="notation:DecorationNode" xmi:id="_6G1P13nOEeWZwJHwnWs1MA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6G1P2HnOEeWZwJHwnWs1MA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6G1P2XnOEeWZwJHwnWs1MA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6G1P2nnOEeWZwJHwnWs1MA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6G1P23nOEeWZwJHwnWs1MA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6G1P3HnOEeWZwJHwnWs1MA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6G1P3XnOEeWZwJHwnWs1MA" type="StateFigureCompartment">
            <children xmi:id="_6I8vsHnOEeWZwJHwnWs1MA" type="Region" element="_6G1P0nnOEeWZwJHwnWs1MA">
              <children xsi:type="notation:DecorationNode" xmi:id="_6I8vs3nOEeWZwJHwnWs1MA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_6I8vtHnOEeWZwJHwnWs1MA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_6I8vtXnOEeWZwJHwnWs1MA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_6I8vtnnOEeWZwJHwnWs1MA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_-HCV4HnOEeWZwJHwnWs1MA" type="Entry" element="_-G4k4HnOEeWZwJHwnWs1MA">
                  <children xmi:id="_-HCV43nOEeWZwJHwnWs1MA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_-HCV5nnOEeWZwJHwnWs1MA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_-HCV53nOEeWZwJHwnWs1MA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_-HCV6HnOEeWZwJHwnWs1MA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_-HCV5HnOEeWZwJHwnWs1MA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-HCV5XnOEeWZwJHwnWs1MA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_-HCV4XnOEeWZwJHwnWs1MA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-HCV4nnOEeWZwJHwnWs1MA" x="8" y="105"/>
                </children>
                <children xmi:id="__OnB8nnOEeWZwJHwnWs1MA" type="State" element="__OnB8HnOEeWZwJHwnWs1MA">
                  <children xsi:type="notation:DecorationNode" xmi:id="__OnB9nnOEeWZwJHwnWs1MA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__OnB93nOEeWZwJHwnWs1MA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__OnB-HnOEeWZwJHwnWs1MA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OnB-XnOEeWZwJHwnWs1MA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__OnB-nnOEeWZwJHwnWs1MA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OnB-3nOEeWZwJHwnWs1MA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__OnB_HnOEeWZwJHwnWs1MA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__OnB83nOEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__OnB9HnOEeWZwJHwnWs1MA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__OnB_XnOEeWZwJHwnWs1MA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OnB9XnOEeWZwJHwnWs1MA" x="188" y="-61" width="261" height="98"/>
                </children>
                <children xmi:id="__5bgknnOEeWZwJHwnWs1MA" type="State" element="__5bgkHnOEeWZwJHwnWs1MA">
                  <children xsi:type="notation:DecorationNode" xmi:id="__5bglnnOEeWZwJHwnWs1MA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__5bgl3nOEeWZwJHwnWs1MA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__5bgmHnOEeWZwJHwnWs1MA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__5bgmXnOEeWZwJHwnWs1MA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__5bgmnnOEeWZwJHwnWs1MA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__5bgm3nOEeWZwJHwnWs1MA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__5bgnHnOEeWZwJHwnWs1MA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__5bgk3nOEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__5bglHnOEeWZwJHwnWs1MA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__5bgnXnOEeWZwJHwnWs1MA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__5bglXnOEeWZwJHwnWs1MA" x="180" y="223" width="276" height="92"/>
                </children>
                <children xmi:id="_Da-UsnnPEeWZwJHwnWs1MA" type="State" element="_Da-UsHnPEeWZwJHwnWs1MA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Da-UtnnPEeWZwJHwnWs1MA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Da-Ut3nPEeWZwJHwnWs1MA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Da-UuHnPEeWZwJHwnWs1MA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Da-UuXnPEeWZwJHwnWs1MA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Da-UunnPEeWZwJHwnWs1MA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Da-Uu3nPEeWZwJHwnWs1MA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Da-UvHnPEeWZwJHwnWs1MA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Da-Us3nPEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Da-UtHnPEeWZwJHwnWs1MA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Da-UvXnPEeWZwJHwnWs1MA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Da-UtXnPEeWZwJHwnWs1MA" x="188" y="83" width="261" height="98"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6I8vt3nOEeWZwJHwnWs1MA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6I8vsXnOEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6I8vsnnOEeWZwJHwnWs1MA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6G1P1HnOEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6G1P1XnOEeWZwJHwnWs1MA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6G1P3nnOEeWZwJHwnWs1MA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6G1P1nnOEeWZwJHwnWs1MA" x="247" width="540" height="481"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_FHijEeWZwJHwnWs1MA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_8gZ1JXijEeWZwJHwnWs1MA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gi_FXijEeWZwJHwnWs1MA" x="216" y="48" width="824" height="540"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_8gi_OHijEeWZwJHwnWs1MA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_8gi_OnijEeWZwJHwnWs1MA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8gswEHijEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8gswEXijEeWZwJHwnWs1MA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8gswEnijEeWZwJHwnWs1MA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gswE3ijEeWZwJHwnWs1MA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8gswFHijEeWZwJHwnWs1MA" x="6" y="96" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_8gZ1InijEeWZwJHwnWs1MA"/>
    <edges xmi:id="_8gi_MXijEeWZwJHwnWs1MA" type="Transition" element="_8gi_MHijEeWZwJHwnWs1MA" source="_8gi_F3ijEeWZwJHwnWs1MA" target="_8gi_I3ijEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8gi_NXijEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8gi_NnijEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8gi_N3ijEeWZwJHwnWs1MA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8gi_MnijEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8gi_NHijEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8gi_M3ijEeWZwJHwnWs1MA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_FwKDYXnPEeWZwJHwnWs1MA" type="Transition" element="_FwKDYHnPEeWZwJHwnWs1MA" source="_-HCV4HnOEeWZwJHwnWs1MA" target="_Da-UsnnPEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_FwKDZXnPEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FwKDZnnPEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FwKDZ3nPEeWZwJHwnWs1MA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FwKDYnnPEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FwKDZHnPEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FwKDY3nPEeWZwJHwnWs1MA" points="[7, 3, -93, -42]$[101, 36, 1, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FwKDaHnPEeWZwJHwnWs1MA" id="(0.10552763819095477,0.2558139534883721)"/>
    </edges>
    <edges xmi:id="_f5ZdIXnPEeWZwJHwnWs1MA" type="Transition" element="_f5ZdIHnPEeWZwJHwnWs1MA" source="_8gi_I3ijEeWZwJHwnWs1MA" target="_6G1P03nOEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_f5ZdJXnPEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_f5ZdJnnPEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_f5ZdJ3nPEeWZwJHwnWs1MA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_f5ZdInnPEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_f5ZdJHnPEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_f5ZdI3nPEeWZwJHwnWs1MA" points="[14, -22, -140, -25]$[155, -72, 1, -75]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f5ZdKHnPEeWZwJHwnWs1MA" id="(0.975,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f5ZdKXnPEeWZwJHwnWs1MA" id="(0.011494252873563218,0.2047872340425532)"/>
    </edges>
    <edges xmi:id="_gjHvkHnPEeWZwJHwnWs1MA" type="Transition" element="_gjFTUHnPEeWZwJHwnWs1MA" source="_6G1P03nOEeWZwJHwnWs1MA" target="_8gi_I3ijEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gjHvlHnPEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gjHvlXnPEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gjHvlnnPEeWZwJHwnWs1MA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gjHvkXnPEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gjHvk3nPEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gjHvknnPEeWZwJHwnWs1MA" points="[1, -136, 139, -72]$[-138, -64, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gjHvl3nPEeWZwJHwnWs1MA" id="(0.007662835249042145,0.3670212765957447)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gjHvmHnPEeWZwJHwnWs1MA" id="(0.95,0.5061728395061729)"/>
    </edges>
    <edges xmi:id="_3Kr1gXnTEeWZwJHwnWs1MA" type="Transition" element="_3Kr1gHnTEeWZwJHwnWs1MA" source="_Da-UsnnPEeWZwJHwnWs1MA" target="__OnB8nnOEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3Kr1hXnTEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3Kr1hnnTEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3Kr1h3nTEeWZwJHwnWs1MA" x="-2" y="-71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3Kr1gnnTEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3Kr1hHnTEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3Kr1g3nTEeWZwJHwnWs1MA" points="[0, 0, -13, 77]$[15, -51, 2, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3Kr1iHnTEeWZwJHwnWs1MA" id="(0.1685823754789272,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3Kr1iXnTEeWZwJHwnWs1MA" id="(0.15708812260536398,0.9183673469387755)"/>
    </edges>
    <edges xmi:id="_63mMIXnTEeWZwJHwnWs1MA" type="Transition" element="_63mMIHnTEeWZwJHwnWs1MA" source="__OnB8nnOEeWZwJHwnWs1MA" target="_Da-UsnnPEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_63mMJXnTEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_63mMJnnTEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_63mMJ3nTEeWZwJHwnWs1MA" x="1" y="-66"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_63mMInnTEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_63mMJHnTEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_63mMI3nTEeWZwJHwnWs1MA" points="[6, 0, 52, -91]$[6, 35, 52, -56]$[6, 47, 52, -44]$[1, 51, 47, -40]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_63mMKHnTEeWZwJHwnWs1MA" id="(0.6666666666666666,0.9693877551020408)"/>
    </edges>
    <edges xmi:id="_MwKwMXnUEeWZwJHwnWs1MA" type="Transition" element="_MwKwMHnUEeWZwJHwnWs1MA" source="__5bgknnOEeWZwJHwnWs1MA" target="_Da-UsnnPEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_MwKwNXnUEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MwKwNnnUEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MwKwN3nUEeWZwJHwnWs1MA" x="-3" y="82"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MwKwMnnUEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MwKwNHnUEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MwKwM3nUEeWZwJHwnWs1MA" points="[0, 0, -121, 54]$[125, -47, 4, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MwKwOHnUEeWZwJHwnWs1MA" id="(0.644927536231884,0.08695652173913043)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MwKwOXnUEeWZwJHwnWs1MA" id="(0.6168582375478927,0.9285714285714286)"/>
    </edges>
    <edges xmi:id="_WjoOUXnUEeWZwJHwnWs1MA" type="Transition" element="_WjoOUHnUEeWZwJHwnWs1MA" source="_Da-UsnnPEeWZwJHwnWs1MA" target="__5bgknnOEeWZwJHwnWs1MA">
      <children xsi:type="notation:DecorationNode" xmi:id="_WjoOVXnUEeWZwJHwnWs1MA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WjoOVnnUEeWZwJHwnWs1MA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WjoOV3nUEeWZwJHwnWs1MA" x="-2" y="73"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WjoOUnnUEeWZwJHwnWs1MA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WjoOVHnUEeWZwJHwnWs1MA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WjoOU3nUEeWZwJHwnWs1MA" points="[1, 12, 1, -47]$[1, 59, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WjoOWHnUEeWZwJHwnWs1MA" id="(0.1111111111111111,0.8775510204081632)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WjoOWXnUEeWZwJHwnWs1MA" id="(0.13405797101449277,0.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
